.firstmain{
    width:100%;
    height:25vh;
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.firstinner{
    width:23%;
    height:100%;
    display:flex;
    flex-direction:row;
    border-radius:10px;
    align-items:center;
    background-color: white;
}


.greenup{
    color: green;
    font-weight: bold;

}

.small{
    color: rgb(176, 173, 173);
    font-size: 10px;
}
.bold{
    font-size: 20px;
    font-weight: bold;
}
.reddown{
    color: red;
   }


   @media (max-width: 480px) {
    .firstmain {
        flex-direction: column; /* Stack items vertically on smaller screens */
        height: auto; /* Adjust height as needed */
    }

    .firstinner {
        width: 100%; /* Occupy full width on smaller screens */
        margin-top: 10px; /* Add spacing between items */
    }
}