.uppermain{
    padding:30px;
    width:100%;
    height:10vh;
    display:flex;
    justify-content: space-between;
}
.searchmain{
    width:200px;
    height:20px;
    background-color: white;
    border-radius:5px;
}
.searchinput{
    border:none;
}
.fa-solid{
    font-size:10px;
    margin-left:10px;
    margin-right:2px;
}
.leftupper{
    width:120px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

@media (max-width: 480px) {
    .uppermain {
        padding: 10px; /* Reduce padding for smaller screens */
        height: auto; /* Adjust height as needed */
        flex-direction: column; /* Stack items vertically */
    }

    .searchmain {
        width: 100%; /* Occupy full width */
        margin-top: 10px; /* Add spacing */
    }

    .leftupper {
        width: 100%; /* Occupy full width */
        margin-top: 10px; /* Add spacing */
        justify-content: space-between; /* Align items as needed */
    }
}